DATABASE_URL="postgresql://postgres:postgres@localhost:5432/impressa_db?schema=public"
NEXTAUTH_SECRET="generate-a-32-char-random-string"
AUTH_SECRET="generate-a-32-char-random-string"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
ADMIN_EMAIL="admin@amplivanta.com"
ADMIN_PASSWORD="Admin@123456"
